.overall {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100vh;
    .MuiInputBase-input {
        color: blue;
    }
    .score {
        width: 20%;
        border: 2px solid black;
        background-image:url("../Game/tree.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: scroll !important;

        h1 {
            text-align: center;
            color: skyblue;
            position: sticky;
            top: 0;
            background-color: black;
        }

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            overflow-wrap: anywhere;
            list-style: none;

            li {
                color: gold;
                font-weight: 900;

                h2 {
                    text-align: center;
                }
            }
        }
    }

    .start {
        width: 80%;
        border: 2px solid black;
        background-image: url("https://mcdn.wallpapersafari.com/medium/84/99/PIzGoY.gif");
        background-repeat: no-repeat;
        background-position: fixed;
        background-size: cover;
        overflow: hidden;

        h1 {
            text-align: center;
            color: aqua;
        }

        .initial {
            height: 95vh;
            display: flex;
            justify-content: center;
            align-items: center;

            ::placeholder {
                color: greenyellow;
            }

            div {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .game {
        width: 100%;
        height: 100vh;
        border: 1px solid black;
        overflow: hidden;
        background-image: url("https://cdn.dribbble.com/users/19482/screenshots/2397046/media/9df6cdb10419564ee290d316b0d28e02.gif");
        background-repeat: no-repeat;
        background-position: fixed;
        background-size: cover;
        #animal {
            width: 100px;
            height: 100px;
            position: absolute;
            bottom: 10px;

            img {
                width: 100px;
                height: 100px;
            }
        }

        #animal1 {
            width: 100px;
            height: 100px;
            position: absolute;
            bottom: 10px;
            left: 60%;

            img {
                width: 100px;
                height: 100px;
            }
        }

        .Animal {
            animation: jump 550ms infinite linear;
        }

        .Block {
            animation: block 3s infinite linear;
        }

        #block {
            width: 100px;
            height: 100px;
            position: absolute;
            bottom: 0px;
            right: 10px;

            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}

@keyframes jump {
    0% {
        bottom: 10px;
    }

    30% {
        bottom: 150px;
    }

    70% {
        bottom: 150px;
    }

    100% {
        bottom: 10px;
    }
}

@keyframes block {
    0% {
        right: 0%
    }
    30% {
        right: 33%;
    }

    70% {
        right: 75%;
    }
    100% {
        right:100%;
    }
}

.d-none {
    display: none;
}
.siva-none{
    display: none;
    color: red;
    border: 2px solid gray;
    background-color: rgba(244, 165, 96, 0.808);
    padding: 8px;
    border-radius: 25px;
    margin-bottom: 5px;
}
@media(max-width:992px) {
    .siva-none{
        display:inline-block !important;
    }
    .overall {
        .score {
            width: 100% !important;
            height: 20vh !important;
            overflow: scroll !important;
            ul {
                flex-direction: column !important;
            }
        }
        .game {
            width: 100% !important;
            height: 100vh !important;
        }

        .start {
            width: 100% !important;
            height: 80vh !important;
        }

        .Animal {
            animation: jump 800ms infinite linear !important;
        }
    }
}